.c-progress {
  &__bar {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 1px;
    background: rgba(159, 162, 180, 0.35);
    border-radius: 20px;
  }

  &__bar-value {
    display: block;
    height: 4px;
    background: #66E287;
    border-radius: 20px;
  }
}