.c-header {
  margin: 0 -30px 40px;
  padding: 24px 30px;
  background: #fff;

  & + .c-actions-bar {
    margin-top: -37px;
  }

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}